<section id="pricing" class="pricing">
  <div class="container">

    <div class="row">
      {% assign prices = site.data.pricing.prices %}
      {% for price in prices %}
        <div class="col-lg-3 col-md-6">
          {% if price.featured == true %}
            <div class="box featured">
          {% else %}
            <div class="box">
          {% endif %}
          {% if price.advance == true %}
            <span class="advanced">{{ price.advance_title }}</span>
          {% endif %}
            <h3>{{ price.title }}</h3>
            <h4><sup>{{ price.symbol }}</sup>{{ price.price }}<span> / month</span></h4>
            <ul>
              {% for offer in price.offers %}
                <li>{{ offer}}</li>
              {% endfor %}
              {% for offer in price.na_offers %}
                <li class="na">{{ offer }}</li>
              {% endfor %}
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>
</section><!-- End Pricing Section -->