<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo"><a href="/">{{ site.title }}</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        {% assign nav_list = site.data.navigations.main %}
        {% for nav in nav_list %}
          <li {% if page.url == nav.url %}class="active"{% endif %}>
            {% assign child_links = nav.children %}
            {% if child_links %}
              <li class="drop-down">
                <a href="#">{{ nav.title }}</a>
                <ul>
                  {% for link in child_links %}
                    <li {% if page.url == link.url %}class="active"{% endif %}>
                      <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <a href="{{ nav.url | relative_url }}">{{ nav.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    </nav><!-- .nav-menu -->

    <a href="/" class="get-started-btn ml-auto">Get Started</a>

  </div>
</header><!-- End Header -->