<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <h2>Features</h2>
      <p>Check our Features</p>
    </div>

    {% assign features = site.data.features.features %}

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          {% for feature in features %}
            <li class="nav-item">
              {% if forloop.first %}
                <a class="nav-link active show" data-toggle="tab" href="{{ feature.url }}">
              {% else %}
                <a class="nav-link" data-toggle="tab" href="{{ feature.url }}">
              {% endif %}
              {{ feature.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          {% for feature in features %}
            {% if forloop.first %}
              <div class="tab-pane active show" id="{{ feature.id }}">
            {% else %}
              <div class="tab-pane" id="{{ feature.id }}">
            {% endif %}
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{ feature.title }}</h3>
                  <p class="font-italic">{{ feature.description }}</p>
                  <p>{{ feature.details }}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{ feature.img_url | absolute_url }}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->