<section id="services" class="services">
  <div class="container">

    <div class="row">
      {% for service in site.data.services.services %}
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="{{ service.icon_class }}"></i>
            <h4><a href="{{ service.url }}">{{ service.name }}</a></h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section><!-- End Services Section -->